# Part 2: Scrape and Analyze Mars Weather Data

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser

In [3]:
# URL to scrape
url = 'https://static.bc-edx.com/data/web/mars_facts/temperature.html'

# Define the browser to utilize
browser = Browser('chrome')

# Visit the browser
browser.visit(url)

# Return all the HTML on our page
html = browser.html

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, "html.parser")

In [5]:
# Find the table
table = soup.find('table', class_='table')

In [29]:
# Store and clean the table
table_rows = table.find_all('tr')

mars = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        mars.append(row)
        
# Create the dataframe columns and print
df = pd.DataFrame(mars, columns=["id", "terrestrial_date", "sol", "ls", "month", "min_temp", "pressure"])
df

        id terrestrial_date   sol   ls month min_temp pressure
0        2       2012-08-16    10  155     6    -75.0    739.0
1       13       2012-08-17    11  156     6    -76.0    740.0
2       24       2012-08-18    12  156     6    -76.0    741.0
3       35       2012-08-19    13  157     6    -74.0    732.0
4       46       2012-08-20    14  157     6    -74.0    740.0
...    ...              ...   ...  ...   ...      ...      ...
1862  1889       2018-02-23  1973  133     5    -78.0    730.0
1863  1892       2018-02-24  1974  134     5    -77.0    729.0
1864  1894       2018-02-25  1975  134     5    -76.0    729.0
1865  1893       2018-02-26  1976  135     5    -77.0    728.0
1866  1895       2018-02-27  1977  135     5    -77.0    727.0

[1867 rows x 7 columns]